<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net48" />
  <package id="NSerio.Utils" version="1.0.12.28" targetFramework="net48" />
  <package id="NSerio.Utils.Dapper" version="1.0.12.28" targetFramework="net48" />
  <package id="NSerio.Utils.Relativity" version="1.0.12.28" targetFramework="net48" />
  <package id="NSerio.Utils.SimpleInjector" version="1.0.12.28" targetFramework="net48" />
  <package id="Polly" version="5.9.0" targetFramework="net48" />
  <package id="Relativity.API" version="17.0.4" targetFramework="net48" />
  <package id="Relativity.Environment.SDK" version="2.0.2" targetFramework="net48" />
  <package id="Relativity.Kepler" version="2.23.1" targetFramework="net48" />
  <package id="Relativity.Kepler.Client.SDK" version="2.23.1" targetFramework="net48" />
  <package id="Relativity.ObjectManager" version="12.1.171.20" targetFramework="net48" />
  <package id="Relativity.Processing.SDK" version="12.5.870" targetFramework="net48" />
  <package id="Relativity.Rsapi" version="15.6.0" targetFramework="net48" />
  <package id="Relativity.Services.DataContracts.SDK" version="13.5.0" targetFramework="net48" />
  <package id="Relativity.Shared.SDK" version="1.7.0" targetFramework="net48" />
  <package id="SimpleInjector" version="4.8.1" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
</packages>