@import "./assets/styles/flag-icons.min";

html {
  font-size: 16px;
}
body {
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

:root{
  --calendar-task-background-color: #fff;
  --calendar-task-text: #4c4c4c;
  --calendar-task-border: #bebebe;
  --calendar-background-hover-color: #f2f2f2;
  --calendar-eventfc-color: #e2e2e2;
}
