<p-dropdown
  #languageDropdown
  [options]="languages()"
  [ngModel]="selectedLanguage()"
  optionLabel="code"
  placeholder="Select a language"
  styleClass="p-inputtext-sm lang-dropdown"
  (onChange)="switchAppLanguage(languageDropdown.value)"
>
  <ng-template pTemplate="selectedItem">
    @if (selectedLanguage()) {
    <div class="flex align-items-center gap-2">
      <span [class]="selectedLanguage().flag"> </span>
      <span>{{ selectedLanguage().code | uppercase }}</span>
    </div>
    }
  </ng-template>
  <ng-template let-language pTemplate="item">
    <div class="flex align-items-center gap-2">
      <span [class]="language.flag"></span>
      <span>{{ language.name }}</span>
    </div>
  </ng-template>
</p-dropdown>
