<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RunSet" value="true" />
	<add key="WorkspaceID" value="1019480" />
    <add key="ViewId" value="1044088" />
    <add key="RSAPIServerAddress" value="relativityvm" />
    <add key="RESTServerAddress" value="relativityvm" />
    <add key="AdminUserArtifactId" value="9" />
    <add key="AdminUsername" value="relativity.admin@relativity.com" />
    <add key="AdminPassword" value="Test1234!" />
    <add key="SQLServerAddress" value="relativityvm" />
    <add key="SQLUsername" value="eddsdbo" />
    <add key="SQLPassword" value="Test1234!" />
    <add key="TestWorkspaceName" value="New Case Template" />
    <add key="ServerBindingType" value="http" />
    <add key="InstanceSettings:Relativity.Core:RelativityInstanceURL" value="https://emttest/Relativity" />
    <add key="InstanceSettings:Relativity.Core:CloudInstance" value="true" />
  </appSettings>
</configuration>